<div class="footer__container">
    <div class="container__home">
        <i class="fa-brands fa-playstation icone_playstation"></i>
        <div class="container__region">
            <i class="pi pi-globe icone_globe"></i>
            <div>
                <span>País/região: Brasil</span>
            </div>
        </div> 
    </div>

    <div class="container-info">
      <div class="info-grid">
        <div class="info-column">
          <span class="info-item">Suporte</span>
          <span class="info-item">Política de privacidade</span>
          <span class="info-item">Termos de uso do site</span>
          <span class="info-item">Mapa do site</span>
          <span class="info-item">PlayStation Studios</span>
          <span class="info-item">Legal</span>
          <span class="info-item">Sobre a SIE</span>
        </div>
        <div class="info-column">
          <span class="info-item">Termos de serviço da PSN</span>
          <span class="info-item">Política de cancelamento da PS Store</span>
          <span class="info-item">Avisos de saúde</span>
          <span class="info-item">Sobre as classificações</span>            
        </div>
        <div class="info-column">
          <span class="info-item">Facebook</span>
          <span class="info-item">Twitter</span>
          <span class="info-item">YouTube</span>
          <span class="info-item">Instagram</span>
          <span class="info-item">Aplicativo para Android</span>
          <span class="info-item">Aplicativo para iOS</span>
        </div>
      </div>
    </div>

      <div class="social-links">
        <div class="icon-link">
            <i class="pi pi-github"></i>
          <a class="social-link" target="_blank" href="https://github.com/CacoCem">GitHub</a>
        </div>
        <span class="separator">|</span>
        <div class="icon-link">
            <i class="pi pi-linkedin"></i>
          <a class="social-link" target="_blank" href="https://www.linkedin.com/in/cauan-cem/">LinkedIn</a>
        </div>
      </div>
</div>